/* Button CSS */
@import "../content/style.css";

.project-button {
    margin-top: 52px;
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    background-color: #2E3537;
    font-family: var(--main-font);
    border-radius: 10px;
    width: 230px;
    transition: all .2s;
    font-weight: 600;
    font-size: 19px;
    color: #ffffff;
    cursor: pointer;
}

/* .Search-area-text:hover {
    
} */

.project-button:hover {
    background-color: #40494c;
    color: var(--main-text-color);    
}