/* Button CSS */
@import "../content/style.css";

.button {
    margin-top: 52px;
    margin-right: 30px;
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    background-color: #2E3537;
    font-family: var(--main-font);
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    transition: all .2s;
    font-weight: 600;
    font-size: 19px;
    color: #ffffff;
    cursor: pointer;
}

.secondary {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #82959B;
    opacity: .7;
}


.button:hover {
    background-color: #40494c;
    color: var(--main-text-color);    
}

.secondary:hover {
    opacity: 1;
}