/* CSS for Nav Bar */
@import "./style.css";

:root{
    --unactive-font: #82959B;
    --active-font: #ffffff;
}

.Nav-icon {
    background-image: url(../img/logo.png);
    background-size: cover;
    height: 59px;
    width: 59px;
}


.Nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 292px;
    height: 59px;
    margin-left: 42px;
}

.Nav-tab {
    color: var(--unactive-font);
    font-family: var(--main-font);
    height: 45px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 48px;
    cursor: pointer;
}

.Nav-tab:hover {
    color: #ffffff;
    transition: .1s;
}

.active {
    color: #ffffff;
    border-bottom: solid #4C5181;
    border-width: 5px;
    width: fit-content;
}
