@import "/content/style.css";

:root {
    --pulse: pulse 2s alternate infinite ease-in-out;
    --pulse-quick: pulse 1.5s alternate infinite ease-in-out
}

.rectangles {
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes pulse {
    from {transform: scale(1);}
    to {transform: scale(1.05);}
}

.green-rectangle {
    position: absolute;
    z-index: 0;
    width: 387px;
    height: 387px;
    border-radius: 38px;
    border-style: solid;
    border-width: 6px;
    border-color:var(--decorative-color-green) ;
    top: -325px;
    left: 60vw;
    animation: var(--pulse);
    animation-delay: .15s;
}

.purple-rectangle-solid {
    position: relative;
    z-index: -1;
    width: 114px;
    height: 114px;
    border-radius: 24px;
    opacity: .4;
    background-color:var(--decorative-color-purple) ;
    left: 320px;
    top: 320px;
    animation: var(--pulse-quick);
    animation-delay: .1s;
}

.white-rectangle-th {
    position: absolute;
    width: 332px;
    height: 332px;
    border-radius: 54px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--decorative-color-white);
    top: 40vh;
    left: 25vw;
    z-index: -2;
    opacity: 100;
    animation: var(--pulse);
    animation-delay: 1.5s;
}

.gray-rectangle-th {
    position: relative;
    width: 332px;
    height: 332px;
    border-radius: 78px;
    border-width: 19px;
    border-style: solid;
    border-color: var(--decorative-color-gray);
    opacity: .17;
    top: 200px;
    left: -150px;
    animation: var(--pulse);
    animation-delay: .15s;

}

.gray-rectangle-solid {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 80px;
    background-color: var(--gray-opacity);
    top: 20vh;
    left: 45vh;
    animation: var(--pulse);
    animation-delay: .45s;
}

.gray-rectangle-solid2 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 11px;
    background-color: var(--decorative-color-white);
    opacity: .1;
    top: 320px;
    left: -100px;
    animation: var(--pulse);
    animation-delay: .03s;
}

.gray-rectangle-solid3 {
    position: absolute;
    width: 73px;
    height: 73px;
    border-radius: 17px;
    background-color: var(--decorative-color-white);
    opacity: .1;
    top: 105vh;
    left: 95vw;
    animation: var(--pulse);
    animation-delay: .03s;
}

.green-rectangle2 {
    position: absolute;
    z-index: 0;
    width: 387px;
    height: 387px;
    border-radius: 38px;
    border-style: solid;
    border-width: 6px;
    border-color:var(--decorative-color-green) ;
    top: 115vh;
    left: 86vw;
    animation: var(--pulse);
    animation-delay: .15s;
}

.white-rectangle-th2 {
    position: absolute;
    width: 332px;
    height: 332px;
    border-radius: 54px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--decorative-color-white);
    top: 123vh;
    left: 82vw;
    z-index: -2;
    opacity: 100;
    animation: var(--pulse);
    animation-delay: 1s;
}

.purple-rectangle-th2 {
    position: absolute;
    z-index: -2;
    width: 159px;
    height: 159px;
    border-radius: 38px;
    border-width: 8px;
    border-style: solid;
    border-color:var(--decorative-color-purple) ;
    top: 140vh;
    left: 95vw;
    animation: var(--pulse-quick);
    animation-delay: 1.5s;
}
