@import "/content/style.css";

:root {
    --pulse: pulse 2s alternate infinite ease-in-out;
    --pulse-quick: pulse 1.5s alternate infinite ease-in-out
}

.rectangles {
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes pulse {
    from {transform: scale(1);}
    to {transform: scale(1.05);}
}

.green-rectangle {
    position: absolute;
    width: 387px;
    height: 387px;
    border-radius: 38px;
    border-style: solid;
    border-width: 6px;
    border-color:var(--decorative-color-green) ;
    top: -325px;
    left: 60vw;
    animation: var(--pulse);
    animation-delay: .15s;
}

.purple-rectangle-solid {
    position: relative;
    z-index: -1;
    width: 114px;
    height: 114px;
    border-radius: 24px;
    opacity: .4;
    background-color:var(--decorative-color-purple) ;
    left: 320px;
    top: 320px;
    animation: var(--pulse-quick);
    animation-delay: .1s;
}
