/* General style variables that extend across all content files */

@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root{
    --main-bg-color: #0B1416;
    --alt-bg-color: #132126;
    --tertiary-bg-color: #D9D9D9;
    --tertiary-bg-color-rba: 217, 217, 217;
    --main-font-color: #ffffff;
    --secondary-font-color: #82959B;
    --tertiary-font-color: #A3E398;
    --alt-font-color: #F2F4F5;
    --gray-font-color: #C0D1D8;
    --faded-font-color: rgba(189, 189, 189, 0.48);
    --decorative-color-purple: #988EFF;
    --decorative-color-green: #A3E398 ;
    --decorative-color-white: #ffffff ;
    --decorative-color-gray: #D9D9D9;
    --gray-opacity: rgba(125, 126, 139, 0.2);
    --main-font: 'SF Pro Display', sans-serif;
    --letter-spacing: .05em;
}

body {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { color: #ffffff; }

a:active { text-decoration: none; }

.container {
    display: grid;
    z-index: 1;
    grid-template-rows: 15% 1fr;
    grid-template-columns:5% auto 5%;
    margin-top: 5%;
    
}

.nav {
    grid-row: 1;
    grid-column: 2;
    color: aliceblue;
    
}

.Content {
    grid-row: 2;
    grid-column: 2;
    color: aliceblue;
}

.background { 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0B1416;
    
}

.dropdown.expanded {
    opacity: 1;
    display: flex;
  }
  
  .dropdown {
    opacity: 0;
    display: none;
    transition: opacity 0.2s, display 0.2s;
    z-index: 10;
    height: auto;
    width: auto;
    position: absolute;
    top: -45px;
    left: 270px;
    padding: 3px 2px;
    color: var(--alt-bg-color);
    background-color: var(--decorative-color-green);
    border-radius: 8px;
    font-family: var(--main-font);
    font-style: normal;
    letter-spacing: var(--letter-spacing);
    font-weight: 600;
    font-size: 18px;
    line-height: 48px;
  }

.toggle-dropdown {
z-index: 1;
cursor: pointer;
}

.link {
    text-decoration: underline !important;
    cursor: pointer;
    color: var(--main-font-color);
}