/* CSS for Home page of website */
/* Importing static CSS */

@import "../style.css";
@import "../rectangles-about.css";
@import "../Button.css";
@import "../Nav.css";

.Contact {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: grid;
    grid-template-rows: 80vh;
    grid-template-columns: 50vh;
}

.Contact-intro {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    margin-top: 8vh;

}

.Contact-intro-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110px;
    width: 633px;
    font-size: 59px;
    font-style: normal;
    font-weight: 800;
    line-height: 110px;
    letter-spacing: 0.02em;
    font-family: var(--main-font);
    color: var(--main-font-color);
    margin-bottom: 40px;
}

.Contact-intro-subheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 96px;
    width: 670px;
    font-family: var(--main-font);
    color: var(--alt-font-color);
    font-style: normal;
    font-size: 23px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 8px;
    letter-spacing: var(--letter-spacing);
}

.Contact-intro-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    width: 800px;
    font-family: var(--main-font);
    color: var(--faded-font-color);
    /* border-color: var(--faded-font-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px; */
    font-style: normal;
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: var(--letter-spacing);
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--faded-font-color);
    border-color: var(--faded-font-color) !important;
    outline: none;
    height: 48px;
    width: 633px;
    resize: none;
    padding-left: 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    background-color: transparent;
    overflow-wrap: break-word;
}


.large {
    height: 200px;
    
}

#email {
    position: relative;
    text-decoration: underline;
}

.kw-alert {
    display: none;
}