/* CSS for Home page of website */
/* Importing static CSS */

@import "../style.css";
@import "../rectangles-about.css";
@import "../Button.css";
@import "../Nav.css";

.trapazoid {
    background-image: url(../../img/background.png);
    background-size: contain;
    
}

.About {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: grid;
    grid-template-rows: 80vh 100vh;
}

.About-intro {
    grid-row: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10vh;

}

.About-intro-picture {
    grid-template-columns: 1;
    background-image: url(../../img/profile_pic.png);
    background-size: contain;
    width: 411px;
    height: 411px;
    border-radius: 80px;
    display: flex;
   
}

.About-intro-content {
    grid-template-columns: 2;
    display: flex;
    flex-direction: column;
}

.About-intro-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110px;
    width: 633px;
    font-size: 92px;
    font-style: normal;
    font-weight: 800;
    line-height: 110px;
    letter-spacing: 0.02em;
    font-family: var(--main-font);
    color: var(--main-font-color);
}

.About-intro-profession {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 96px;
    width: 633px;
    font-family: var(--main-font);
    color: var(--alt-font-color);
    font-style: normal;
    font-size: 34px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 8px;
    letter-spacing: var(--letter-spacing);
}

.About-intro-hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48px;
    width: 633px;
    font-family: var(--main-font);
    color: var(--tertiary-font-color);
    font-style: normal;
    font-size: 23px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: var(--letter-spacing);
}

.About-intro-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.About-experience {
    grid-row: 2;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.About-experience-header {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    line-height: 62px;
    letter-spacing: 0.02em;
    font-family: var(--main-font);
    color: var(--main-font-color);
    margin-bottom: 80px;
}


.About-experience-content {
    grid-row: 2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.About-experience-content-item {
    display: grid;
    grid-template-columns: 300px 40vw;
    grid-template-rows: 150px;
    margin-bottom: 75px
}

.About-experience-content-name {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    width: fit-content;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--main-font);
    color: var(--alt-font-color);
    font-style: normal;
    font-size: 34px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: var(--letter-spacing);
}

.About-experience-content-description {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--main-font);
    color: var(--alt-font-color);
    font-style: normal;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: var(--letter-spacing);
}

.content-background {
    background-color: rgba(217, 217, 217, .1);
    border-radius: 22px;
}